<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
  <link type="text/css" rel="stylesheet" href="{{ site.url }}/lightslider/dist/css/lightslider.css" />
  <script src="{{ site.url }}/lightslider/dist/js/lightslider.js"></script>
  <style>
    body {
      margin: 0;
      overflow-x: hidden;
      width: 100%;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      
    }
  </style>
</head>
<body>
{{ content }}
<script type="text/javascript"> 
   $(document).ready(function() {
      $("ul").lightSlider({
        "item": {{ page.item | default: 1 }},
        "loop": {{ page.loop | default: true }},
        "mode": "{{ page.mode | default: slide }}",
        "speed": {{ page.speed | default: 0 }},
        "pause": {{ page.pause | default: 2000 }},
        "vertical": {{ page.vertical | default: false }},
        "auto": {{ page.auto | default: false }},
        "pauseOnHover": {{ page.pauseOnHover | default: false }},
        "pager": {{ page.pager | default: true }},
        "controls": {{ page.controls | default: true }},
        "autoWidth": {{page.autoWidth | default: true}},
        "adaptiveHeight": {{ page.adaptiveHeight | default: false }}
      });
      
    });

</script>
</body>
</html>
